.calendar {
  width: 60%;
  height: 90%;
  .header {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .col.col-first {
      width: 30%;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .text {
        font-size: 0.8em;
      }
      .text.month {
        margin-right: 5px;
        font-size: 3em;
        font-weight: 600;
      }
    }
    .col.col-center {
      display: flex;
      flex-direction: row;
      width: 30%;
      font-size: 15px;
      position: absolute;
      margin-left: 150px;
      margin-top: -10px;
    }
    .col.col-end {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: baseline;
      svg {
        width: 11%;
        height: fit-content;
        margin-left: 5%;
        color: transparentize(gray, 0.2);
        &:hover {
          cursor: pointer;
          transition: 0.2s ease-in-out;
          transform: scale(1.15);
          color: #f2d7d9;
          // background-image: url( "images/bg-house.png" );
        }
      }
    }
  }
  .days {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: #686868;
    .col {
      width: 12.9%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding-left: 1%;
      background: #9cb4cc;
      border-radius: 10px;
      color: white;
    }
  }
  .body {
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .row {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .col {
        width: 13.5%;
        height: 93%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        border: 0.4px solid transparentize(gray, 0.4);
        border-radius: 3px;
        font-size: 0.8em;
        span {
          margin: 4px 0 0 4px;
        }
        .not-valid {
          color: #c4c4c4;
        }
        img {
          opacity: 0.1;
        }
      }
      .col.cell.valid {
        &:hover {
          // cursor: pointer;
          transition: 0.2s ease-in-out;
          box-shadow: 1.5px 1.5px 0px 0px transparentize(#686868, 0.1);
          transform: scale(1.01);
          border: none;
          background: #d3cedf;
        }
        svg {
          &:hover {
            cursor: pointer;
            transition: 0.2s ease-in-out;
            transform: scale(1.15);
            color: #686868;
          }
        }
      }
      .col.cell.selected {
        box-shadow: 1.5px 1.5px 0px 0px transparentize(#aa5b42, 0.1);
        transform: scale(1.02);
        border: none;
        background: #f3c5b6;
        color: #aa5b42;
        font-weight: 600;
        svg {
          &:hover {
            cursor: pointer;
            transition: 0.2s ease-in-out;
            transform: scale(1.15);
            color: #686868;
          }
        }
      }
    }
  }
}
